/* * 经典游记详情页改版
* @version 1.0
* @author lusc
* @date 20140213 */

/* icon_bg */
.ctd_head_left p i, .info_badge a, .badge_cont i, .ctd_controls i, .img_controls i, .text_pic, .ctd_theend, .ctd_items .fl i, .btn_index, .item_div, .cover_pic a, .ctd_ttd_ctrl a, .progress_line .point, .ctd_travels .fl .text i, .ctd_content_controls span i, .cover_pic_cont ul li div.select, .ctd_head_a i { background: url(/travels/img/icon_ctd_bg.png) no-repeat; vertical-align: middle; display: inline-block; }
/* ctd_head_box */
.bgf2f2f2 { background-color: #f2f2f2; }
.content { width: 980px; padding-top: 0; -moz-transition: width 0 !important; -webkit-transition: width 0 !important; -o-transition: width 0 !important; transition: width 0 !important; }
.ctd_bread { color: #999; position: relative; z-index: 2; line-height: 12px; _line-height: 13px; margin-top: 20px; }
.ctd_bread a { color: #999; }
.ctd_bread .ctd_head_a { width: 90px; height: 60px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; background-color: #EDEDED; display: block; position: absolute; right: 0; top: -20px; color: #333; text-decoration: none; font-size: 14px; text-align: center; cursor: pointer; z-index: 2; }
.ctd_bread .ctd_head_a i { width: 16px; height: 16px; display: block; margin: 12px 0 6px 36px; }
.ctd_bread .ctd_head_a i.edit { background-position: -312px -96px; }
.ctd_bread .ctd_head_a:hover i.edit { background-position: -312px -112px; }
.ctd_bread .ctd_head_a i.comp { background-position: -335px -112px; }
.ctd_bread .ctd_head_a:hover i.comp { background-position: -360px -112px; }
.ctd_head_box { width: 100%; height: 450px; overflow: hidden; position: relative; z-index: 1; margin-top: -34px; }
.ctd_cover { width: 100%; position: absolute; top: 0; left: 0; z-index: 1; min-width: 1000px; }
.ctd_cover_host, .ctd_cover_guest { position: absolute; top: 100px; left: 50%; z-index: 2; margin-left: -400px; width: 800px; height: 37px; background: url(/travels/img/cover_text.png) center top no-repeat; _background: none; }
.ctd_cover_guest { background-position: center -37px; height: 83px; }
.ctd_cover_btn { display: block; width: 116px; height: 36px; border-radius: 20px; border: 2px solid #fff; color: #fff; position: absolute; top: 160px; right: 50%; z-index: 2; margin-right: -58px; text-align: center; font-size: 16px; line-height: 36px; background-color: #000; }
.ctd_cover_btn:hover { text-decoration: none; background-color: #fff; color: #00a7e1; }
/*.ctd_cover_btn.ctd_cover_has { border: 0 none; width: 120px; height: 40px; line-height: 40px; background-color: #333; background-color: rgba(51, 51, 51, 0.4); top: 20px; right: 120px; margin-left: 0; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000'); }
.ctd_cover_btn.ctd_cover_has:hover { background-color: #000; background-color: rgba(51, 51, 51, 1); color: #fff; }*/
.ctd_head { width: 100%; position: absolute; left: 0; bottom: 0; z-index: 3; padding-top: 20px; }
.ctd_head_mask { width: 100%; background-color: #fff; filter: Alpha(Opacity=80); opacity: 0.8; height: 150px; position: absolute; top: 0; left: 0; z-index: -1; }
:root .ctd_head_mask { top: 1px\9; }
.ctd_head_left { float: left; width: 730px; margin-top: -20px; position: relative; z-index: 1; }
.ctd_head_left p { height: 40px; line-height: 40px; margin-bottom: 11px; margin-top: -1px; *margin-top: 0; }
.ctd_head_left p i { width: 40px; height: 40px; margin-right: 10px; }
.ctd_head_left p i.ico_jh { background-position: 0 -96px; }
.ctd_head_left p i.ico_sy { background-position: -43px -96px; }
.ctd_head_left p i.ico_mt { background-position: -86px -96px; }
.ctd_head_left p i.ico_dc { background-position: -129px -96px; }
.ctd_head_left p a { color: #00a7e1; }
.ctd_head_left h2 { width: 705px; max-height: 73px; *max-height: 72px; _height: expression(this.scrollHeight > 72 ? "72px":"auto"); overflow: hidden; font-size: 30px; line-height: 36px; font-weight: normal; margin-bottom: 27px; word-break: break-all; }
.ctd_head_left h2 .audit { color: #f00; }
.ctd_head_right { float: left; width: 180px; padding-left: 70px; position: relative; z-index: 1; }
.ctd_head_right .user_img { position: absolute; width: 40px; height: 40px; top: 0; left: 7%; }
.ctd_head_right .user_img img { width: 40px; height: 40px; border-radius: 50%; }
.ctd_head_right p { font-size: 14px; line-height: 14px; margin-bottom: 10px; }
.ctd_head_right p a, .ctd_qa li p a { color: #333; }
/* 左半部分 */
.ctd_main { width: 730px; float: left; font-size: 14px; }
.ctd_main_body { box-shadow: 0 0 4px 0 #ccc; margin-bottom: 60px; background-color: #fff; border: 1px solid #ccc\9; border-top: none\9; }
.ctd_data { border-bottom: 1px dotted #ccc; width: 100%; }
.ctd_data ul { padding: 35px 0; width: 700px; margin: 0 auto; overflow: hidden; }
.ctd_data ul li { float: left; width: 140px; text-align: center; }
.ctd_data ul li span, .ctd_items .fl .gray, .ctd_qa li span, .ctd_sideseo ul li a, .ctd_items .fl .gray a { color: #999; }
.ctd_data li .ctd_georgia { font: 400 36px Georgia; display: block; margin-bottom: 10px; }
.ctd_data li .ctd_georgia.color_01 { color: #7e519f; }
.ctd_data li .ctd_georgia.color_02 { color: #ff9913; }
.ctd_data li .ctd_georgia.color_03 { color: #f3415a; }
.ctd_data li .ctd_georgia.color_04 { color: #02ad23; }
.ctd_data li .ctd_georgia.color_05 { color: #00a7e1; }
.ctd_data li .ctd_georgia em { font: normal 16px Microsoft YaHei; vertical-align: middle; }
.ctd_controls { padding: 20px 40px; border-bottom: 1px dotted #ccc; }
.ctd_controls .fl { color: #333; text-decoration: none; }
.ctd_controls .fl i { width: 14px; height: 14px; background-position: -280px -96px; margin-right: 5px; }
.ctd_controls .fl:hover i { background-position: -280px -112px; }
.ctd_controls .fl.clicked i { background-position: -296px -96px; }
.ctd_controls .fl.clicked:hover i { background-position: -296px -112px; }
.ctd_controls .fr a { margin-left: 18px; display: inline-block; text-decoration: none; color: #333; }
.ctd_controls .fr a span { margin-left: 3px; }
.ctd_controls .fr a i, .ctd_content .img .img_controls a i { width: 16px; height: 16px; margin-right: 5px; vertical-align: top; }
.ctd_content .img .img_controls { font-size: 14px; line-height: 18px; }
.ctd_content_controls { border-bottom: 1px dotted #ccc; font-size: 14px; line-height: 14px; padding-bottom: 10px; margin-bottom: 30px; }
.ctd_content_controls a { color: #00a7e1; }
.ctd_content_controls span { margin-bottom: 20px; display: inline-block; margin-right: 16px; }
.ctd_content_controls span i { width: 16px; height: 16px; margin-right: 5px; }
.ctd_content_controls span i.days { background-position: -360px 0; }
.ctd_content_controls span i.times { background-position: -384px 0; }
.ctd_content_controls span i.costs { background-position: -360px -24px; }
.ctd_content_controls span i.whos { background-position: -384px -24px; }
.ctd_content_controls span i.plays { background-position: -360px -48px; }
.ctd_content { border-bottom: 1px dotted #ccc; padding: 30px 30px 14px; padding: 30px 29px 14px\9; font-size: 16px; line-height: 32px; word-break: break-all; }
.ctd_content h3 { color: #999; font-weight: normal; line-height: 14px; font-size: 14px; margin-bottom: 20px; }
.ctd_content h3 a { float: right; color: #00a7e1; }
.ctd_content p { font-size: 16px; line-height: 32px; word-break: break-all; margin-top: 20px; }
.ctd_content p a { color: #333; border-bottom: 1px dotted #999; padding-bottom: 2px; }
.ctd_content p a:hover { color: #00a7e1; border-bottom: 1px dotted #00a7e1; text-decoration: none; }
.ctd_content .img { background-image: url(/travels/img/ctd_img_bg.png); margin: 30px 0 10px; position: relative; z-index: 1; width: 670px; overflow: hidden; }
.ctd_content .img img { margin: 0 auto; background: url(/travels/img/img_loading.gif) center center no-repeat; }
.ctd_content img, .ctd_content .img img { max-width: 670px; _width: expression(this.width > 670 ? '670px':true); display: block; overflow: hidden; }
.ctd_content .img .img_controls { position: absolute; top: 0; right: 0; z-index: 2; padding: 10px 15px 10px 0; border: 1px dotted #ccc; background-color: #fff; display: none; }
.ctd_content .img .img_controls a { margin-left: 15px; text-decoration: none; color: #333; }
.ctd_theend { width: 168px; height: 83px; margin: 0 auto; background-position: -103px -245px; display: block; }
.link_pdf i { background-position: -173px -95px; }
.link_collect i { background-position: -189px -96px; }
.link_like i { background-position: -206px -95px; }
.link_share i { background-position: -223px -96px; }
.link_comment i { background-position: -240px -95px; }
.link_written i { background-position: -312px -96px; }
.link_browse { cursor: default; }
.link_browse i { background-position: -336px -95px; }
.link_pdf:hover i { background-position: -173px -111px; }
.link_collect:hover i { background-position: -189px -112px; }
.link_collect.click_collect i { background-position: -257px -96px; }
.link_like:hover i { background-position: -206px -111px; }
.link_like.click_like i { background-position: -257px -112px; }
.link_share:hover i { background-position: -223px -112px; }
.link_comment:hover i { background-position: -240px -111px; }
.link_written:hover i { background-position: -312px -112px; }
.btn_pdf { background-position: 0 -139px; }
.btn_collect { background-position: -62px -140px; }
.btn_like { background-position: -124px -140px; }
.btn_share { background-position: -186px -140px; }
.btn_comment { background-position: -274px -246px; }
.btn_written { background-position: -310px -140px; }
.btn_pdf:hover { background-position: 0 -192px; }
.btn_collect:hover { background-position: -62px -192px; }
.btn_collect.click_collect { background-position: -248px -139px; }
.btn_like:hover { background-position: -124px -192px; }
.btn_like.click_like { background-position: -248px -192px; }
.btn_like.click_like_host { background-position: -337px -298px; }
.btn_share:hover { background-position: -186px -192px; }
.btn_comment:hover { background-position: -274px -298px; }
.btn_written:hover { background-position: -310px -192px; }
/* 右半部分 */
.ctd_side { width: 230px; float: left; padding: 30px 0 0 20px; position: relative; z-index: 1; }
.ctd_side_titile { font-size: 20px; line-height: 20px; font-weight: normal; border-bottom: 2px solid #ccc; padding-bottom: 10px; }
.ctd_side_titile .fr { color: #999; font-size: 14px; margin-top: 3px; }
.ctd_items { width: 235px; }
.ctd_items .fl { width: 105px; padding: 4px; overflow: hidden; position: relative; margin-right: 4px; }
.ctd_items .fl .img { width: 105px; height: 90px; display: block; text-decoration: none; overflow: hidden; }
.ctd_items .fl .img img { width: 130px; }
.ctd_items .fl .text, .ctd_items .fl .mask { position: absolute; left: 4px; top: 74px; height: 20px; }
.ctd_items .fl .text { line-height: 20px; padding-left: 5px; width: 125px; color: #fff; z-index: 2; }
.ctd_items .fl .mask { z-index: 1; background-color: #000; filter: Alpha(Opacity=50); opacity: 0.5; width: 105px; }
.ctd_items .fl p { margin: 8px 0 6px; height: 36px; overflow: hidden; word-break: break-all; }
.ctd_items .fl p a { font-size: 14px; line-height: 18px; color: #333; }
.ctd_items .fl .orange { color: #ff5200; font-size: 14px; }
.ctd_items .fl i { display: block; position: absolute; width: 16px; height: 20px; top: 4px; left: 4px; }
.ctd_items .fl i.icon_j { background-position: -136px 0; }
.ctd_items .fl i.icon_s { background-position: -155px 0; }
.ctd_items .fl i.icon_m { background-position: -174px 0; }
.ctd_items .fl i.icon_d { background-position: -193px 0; }
.ctd_ttd, .ctd_travels, .ctd_qa { margin-bottom: 60px; }
#ctd_ttd_tab { width: 230px; overflow: hidden; position: relative; z-index: 10; }
.ctd_ttd_titile { position: relative; z-index: 1; height: 14px; line-height: 14px; margin-bottom: 20px; }
.ctd_ttd_titile span { font-size: 14px; font-weight: normal; color: #999; display: inline-block; padding-right: 8px; background-color: #f2f2f2; }
.ctd_ttd_titile em { border-bottom: 1px dotted #ccc; position: absolute; top: 6px; left: 0; z-index: -1; width: 620px; font-size: 0; height: 0; line-height: 0; }
.ctd_ttd_ctrl { position: absolute; top: 32px; right: 0; z-index: 11; display: none; }
.ctd_ttd_ctrl a { width: 18px; height: 18px; margin-left: 4px; }
.ctd_ttd_ctrl a.prev { background-position: -152px -334px; }
.ctd_ttd_ctrl a.next { background-position: -176px -334px; }
.ctd_ttd_ctrl a.prev:hover { background-position: -104px -334px; }
.ctd_ttd_ctrl a.next:hover { background-position: -128px -334px; }
.ctd_ttd_ctrl a.disable.prev, .ctd_ttd_ctrl a.disable.prev:hover { background-position: -200px -334px; cursor: default; }
.ctd_ttd_ctrl a.disable.next, .ctd_ttd_ctrl a.disable.next:hover { background-position: -224px -334px; cursor: default; }
.ctd_ttd_ctrl span { margin-right: 6px; vertical-align: -10%; color: #999; }
.ctd_ttd { width: 230px; height: 504px; }
.ctd_ttd li { display: none; position: absolute; z-index: 1; height: 504px; background: url(/travels/img/side_ttd_bg230.png) 0 84px no-repeat; }
.ctd_ttd li h4 { font-size: 18px; line-height: 18px; font-weight: normal; text-overflow: ellipsis; white-space: nowrap; width: 150px; padding-right: 80px; padding-bottom: 9px; margin-bottom: 9px; overflow: hidden; border-bottom: 2px solid #ccc; }
.ctd_ttd h5 { line-height: 12px; height: 12px; font-size: 12px; padding: 10px 0; font-weight: normal; }
.ctd_ttd h5 a { color: #999; float: right; }
.ctd_ttd .ctd_items { border-bottom: 1px dotted #ccc; padding-bottom: 10px; height: 170px; }
.ctd_ttd .ctd_items .fl { margin-top: 0; }
.ctd_ttd_box { width: 230px; overflow: hidden; }
.ctd_ttd_stat { width: 250px; height: 35px; overflow: hidden; padding-bottom: 10px; border-bottom: 1px dotted #ccc; }
.ctd_ttd_stat a { float: left; display: block; padding-right: 15px; color: #999; text-decoration: none; line-height: 16px; }
.ctd_ttd_stat a span { color: #00a7e1; font-size: 16px; }
.ctd_ttd_stat a:hover, .ctd_ttd_stat a:hover span { text-decoration: underline; }
.ctd_travels { border-bottom: 1px dotted #ccc; padding-top: 6px; padding-bottom: 16px; width: 230px; overflow: hidden; }
.ctd_travels .fl { margin-top: 10px; height: 176px; }
.ctd_travels .fl .text { font-size: 10px; line-height: 16px; padding: 10px 0 0 8px; width: 97px; height: 50px; top: 34px; color: #fff; z-index: 2; display: none; background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0333333', EndColorStr='#A0333333'); }
.ctd_travels .fl .text i { display: inline-block; width: 10px; height: 8px; position: static; margin-right: 5px; }
.ctd_travels .fl .text i.icon_ll { background-position: -248px 0; }
.ctd_travels .fl .text i.icon_xh { background-position: -263px 0; }
.ctd_travels .fl .text i.icon_pl { background-position: -279px 0; }
.ctd_travels .fl .gray a { display: block; width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ctd_qa li { border-bottom: 1px dotted #ccc; padding: 15px 0; }
.ctd_qa li p { font-size: 14px; line-height: 24px; word-break: break-all; }
.ctd_qrcode { width: 230px; height: 230px; margin-bottom: 60px; position: relative; background-image: url(/travels/img/qr_code230x230.png); overflow: hidden; }
.ctd_qrcode a { width: 230px; height: 230px; display: block; }
.ctd_qrcode span { position: absolute; right: 29px; bottom: 37px; font-size: 20px; font-weight: bold; color: #ecb200; display: block; width: 100px; text-align: center; z-index: 2; }
.ctd_sideseo { width: 230px; overflow: hidden; }
.ctd_sideseo h3 { color: #999; font-size: 14px; border-bottom: 1px solid #ccc; line-height: 14px; padding-bottom: 10px; font-weight: normal; margin-bottom: 5px; }
.ctd_sideseo ul { width: 240px; overflow: hidden; }
.ctd_sideseo ul li { float: left; margin-right: 10px; color: #999; line-height: 26px; word-break: break-all; }
/* 评论版块 */
.ctd_comments { padding-bottom: 70px; width: 100%; overflow: hidden; }
.ctd_comments_title { font-size: 24px; font-weight: normal; line-height: 32px; }
.ctd_comments_title span { font-size: 14px; margin-left: 10px; }
.ctd_comments_box { padding: 30px 0; border-bottom: 1px dotted #ccc; }
.ctd_comments_box .textarea_box { width: 650px; margin-top: -5px; }
.ctd_comments_box .textarea_box .textarea { background-color: #fff; border: 1px solid #ccc; overflow: hidden; margin: 5px 0 10px; width: 648px; }
.ctd_comments_box .textarea_box .textarea textarea { border: 0 none; outline: none; resize: none; width: 642px; padding: 3px; height: 100px; }
.ctd_comments_box .textarea_box .textarea span { float: right; margin: 5px; margin-top: 0; line-height: 12px; color: #999; }
.ctd_comments_box .textarea_box .gs_btn_v2_gray { height: 28px; line-height: 30px; font-size: 14px; display: inline-block; border: 1px solid #ccc; border-radius: 3px; text-decoration: none; color: #999; padding-right: 10px; }
.ctd_comments_box .img { display: block; width: 60px; height: 60px; }
.ctd_comments_box .img img { width: 60px; height: 60px; border-radius: 50%; }
.ctd_comments_box .img.host img { border: 4px solid #cc4200; width: 52px; height: 52px; }
.ctd_comments_box .ctd_comments_username { color: #333; display: inline-block; margin-bottom: 8px; }
.ctd_comments_box .ctd_comments_text { line-height: 28px; padding-right: 10%; word-break: break-all; }
.ctd_comments_box .ctd_comments_text a { color: #333; border-bottom: 1px dotted #999; padding-bottom: 2px; }
.ctd_comments_box .ctd_comments_text a:hover { color: #00a7e1; border-bottom: 1px dotted #00a7e1; text-decoration: none; }
.ctd_comments_box .ctd_comments_contrl { line-height: 12px; margin-top: 10px; text-align: right; position: relative; z-index: 1; }
.ctd_comments_box .ctd_comments_contrl span, .ctd_comments_box .contrl_01 { color: #999; }
.ctd_comments_box .ctd_comments_contrl .contrl_01 { color: #f2f2f2; }
.ctd_comments_box .contrl_02 { color: #00a7e1; margin-left: 12px; }
.ctd_comments_box .quote_name { color: #999; border-left: 4px solid #ccc; margin-left: 20px; padding-left: 10px; line-height: 14px; margin-bottom: 12px; width: 85%; overflow: hidden; }
.ctd_comments_box .quote_name div { margin-top: 10px; }
.ctd_comments_box .quote_name div a { color: #333; display: inline-block; border-bottom: 1px dotted #999; padding-bottom: 2px; }
.ctd_comments_box .quote_name div a:hover { color: #00a7e1; border-bottom: 1px dotted #00a7e1; text-decoration: none; }
.ctd_comments_box .quote_name div a img { width: 200px; float: left; margin-bottom: -3px; }
.ctd_comments_box .ctd_comments_reply { text-align: right; margin-top: 25px; }
.ctd_comments_box .ctd_comments_reply .textarea { margin-bottom: 15px; }
.ctd_comments_box .ctd_comments_reply .gs_btn_v2 { margin: -3px 0 0 15px; }
.ctd_comments_box .ctd_comments_reply .gsn-btn-8 { vertical-align: middle; margin: -3px 0 0 19px; }
.ctd_comments_box .error_tip { color: red; display: none; }
.ctd_comments_box .ctd_comments_reply { display: none; }
.ctd_comments_box .ctd_comments_reply .textarea textarea { height: 35px; }
.pager_v1 { margin-top: 30px; }
/* 按钮组件 */
.gs_btn_v1, .gs_btn_v2, .gs_btn_v3 { border-radius: 3px; overflow: hidden; background-color: #ff7534; border-bottom: 2px solid #e44a00; color: #fff; display: inline-block; padding: 0 15px; vertical-align: middle; }
.gs_btn_v1:hover, .gs_btn_v2:hover, .gs_btn_v3:hover { text-decoration: none; background-color: #fe5200; }
.gs_btn_v1:active, .gs_btn_v2:active, .gs_btn_v3:active { border-top: 2px solid #e44a00; border-bottom: none; }
.color_white { background-color: #fff; border: 1px solid #ccc; border-bottom-width: 2px; color: #333; }
.color_white:hover { background-color: #f4f4f4; }
.color_white:active { background-color: #f4f4f4; border: 1px solid #ccc; border-top-width: 2px; }
.gs_btn_v1 { height: 19px; line-height: 21px; font-size: 12px; padding: 0 10px; }
.gs_btn_v1:active { line-height: 17px; }
.gs_btn_v1.color_white { height: 18px; line-height: 19px; }
.gs_btn_v1.color_white:active { line-height: 18px; }
.gs_btn_v2 { height: 28px; line-height: 30px; font-size: 14px; }
.gs_btn_v2:active { line-height: 26px; }
.gs_btn_v3 { height: 34px; line-height: 36px; font-size: 18px; }
.gs_btn_v3:active { line-height: 32px; }
.gs_btn_v3.color_white { height: 33px; }
.gs_btn_v3.color_white:active { line-height: 33px; }
/* 个人勋章控件 */
.info_badge a { width: 24px; height: 24px; margin-right: 6px; }
.info_badge a.badge_dp { background-position: 0 0; }
.info_badge a.badge_cs { background-position: -27px 0; }
.info_badge a.badge_lx { background-position: -108px 0; }
.info_badge a.badge_wd { background-position: -81px 0; }
.info_badge a.badge_yl { background-position: -54px 0; }
.badge_box { display: none; border-radius: 4px; border: 1px solid #ddd; width: 310px; position: absolute; z-index: 1; box-shadow: 3px 3px 12px 0 #666; }
.badge_box .badge_box_arr { margin-left: -120px; position: absolute; z-index: 1; bottom: -21px; left: 50%; margin-left: -67px; width: 134px; height: 34px; background: url(/common/img/1x1.gif); }
.badge_box .badge_box_arr div { position: absolute; left: 50%; margin-left: -8px; box-shadow: 3px 3px 12px 0 #666; border: 1px solid #ddd; width: 16px; height: 16px; background-color: #fff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
.badge_box.hack_ie8 .badge_box_arr { bottom: -30px\9; }
.badge_box.hack_ie8 .badge_box_arr div { border: none\9; width: 30px\9; height: 15px\9; margin-left: -15px\9; background: -320px 0 url(/travels/img/icon_ctd_bg.png) no-repeat\9; }
.badge_box .badge_cont { position: relative; z-index: 2; padding: 15px; background-color: #fff; border-radius: 4px; overflow: hidden; width: 280px; }
.badge_box .badge_cont i { float: left; display: block; width: 64px; height: 64px; margin: 0 15px 0 0; cursor: default; }
.badge_dp .badge_cont i { background-position: 0 -28px; }
.badge_cs .badge_cont i { background-position: -69px -28px; }
.badge_lx .badge_cont i { background-position: -138px -28px; }
.badge_wd .badge_cont i { background-position: -207px -28px; }
.badge_yl .badge_cont i { background-position: -277px -28px; }
.badge_box .badge_cont .badge_htget { float: right; color: #333; }
.badge_box .badge_cont h3 { font-size: 18px; font-weight: 400; line-height: 22px; margin-bottom: 5px; }
.badge_dp .badge_cont h3 { color: #f97b78; }
.badge_cs .badge_cont h3 { color: #bb9fce; }
.badge_lx .badge_cont h3 { color: #66c7d6; }
.badge_wd .badge_cont h3 { color: #9ac95d; }
.badge_yl .badge_cont h3 { color: #f6c04a; }
.badge_box .badge_cont p { line-height: 18px; color: #666; }
.badge_box .badge_cont .badge_tip { border-top: 1px solid #e6e6e6; margin-top: 10px; padding-top: 7px; }
.badge_box .badge_cont .badge_tip h4 { color: #999; font-weight: 400; margin-bottom: 7px; font-size: 12px; }
.badge_box .badge_cont .badge_tip a { border-radius: 7px; display: inline-block; background-color: #e6f0fc; color: #2092cb; line-height: 20px; padding: 0 10px; margin-right: 3px; *margin-right: 2px; }
.badge_box .badge_cont .badge_tip div { width: 100%; height: 20px; overflow: hidden; }
/* 景点、导航、推荐 */
.seograybox { width: 100%; padding-bottom: 30px; margin-top: 50px; }
.cityseojs { margin-bottom: -10px; }
.cityseojs ul { height: 44px; overflow: hidden; }
.seobox3 { margin: 0 auto; padding: 30px 0 0 0; width: 1180px; }
.seobox3 .sites-title { height: 22px; margin-bottom: 12px; border-bottom: 1px solid #dedede; }
.seobox3 .sites-title h3 { font-size: 14px; font-weight: normal; color: #999; font-family: Microsoft YaHei, Hiragino Sans GB; }
.seobox3 .sites-title a { color: #999; }
.seobox3 .sites-title .right-arrow { border-bottom: 4px solid transparent; border-left: 4px solid #999; border-top: 4px solid transparent; display: inline-block; font-size: 0; height: 0; line-height: 0; margin: 0 5px; width: 0; }
.seobox3 .sites-tab { margin-bottom: 8px; }
.seobox3 .sites-tab a { color: #06c; cursor: pointer; padding: 4px 10px; margin-right: 5px; line-height: 24px; }
.seobox3 .sites-tab a.active { background-color: #e4f0fd; border-radius: 4px 4px 4px 4px; color: #005d8d; }
.seobox3 li { float: left; margin-bottom: 4px; overflow: hidden; width: 84px; color: #999; padding-right: 14px; text-overflow: ellipsis; white-space: nowrap; }
.seobox3 li a { color: #999; }
.seobox3 li a:hover { color: #06c; }
.seobox3 .seotab { padding: 5px 0 10px 0; color: #ccc; margin-left: -3px; }
.seobox3 .seotab a { margin: 0 3px; padding: 0 10px; line-height: 24px; color: #06c; cursor: pointer; }
.seobox3 .seotab a:hover { text-decoration: none; }
.seobox3 .seotab a.current { background: #0189d5; color: #fff; padding: 2px 10px; border-radius: 4px; line-height: 18px; }
#base_ft { margin-bottom: 0 !important; padding-bottom: 40px; border-top: 1px dotted #ccc; width: 980px !important; }
/* 评论弹出层 */
.piccomment { width: 590px; display: none; }
.piccomment h3, .deljournal h3 { color: #066b9f; font-size: 16px; font-weight: normal; padding-bottom: 12px; }
.piccomment .gsn-textarea { width: 573px; font-size: 14px; line-height: 22px; height: 200px; padding: 8px 0 8px 15px; resize: none; }
.piccomment p, .deljournal p.btnbox { text-align: right; padding-top: 10px; height: 25px; color: #999; }
.reportmain .gsn-tiptext { color: #999; line-height: 26px; }
.piccomment strong.count { font-size: 14px; font-family: Tahoma; padding: 0 5px; }
.piccomment .gsn-btn-2, .deljournal .gsn-btn-2 { margin-left: 10px; }
.piccomment .areabox { position: relative; }
.piccomment .areabox span.quotetext { line-height: 2em; color: #999; font-size: 14px; display: none; }
.deljournal { width: 340px; }
.deljournal p.deltext { font-size: 14px; padding: 15px 0 40px 0; }
.piccomment .journal-comment-tip { color: red; }
/* 封面上传弹出层 */
.set_cover { width: 590px; display: none; }
.set_cover_title { font-size: 18px; font-weight: normal; margin-bottom: 12px; }
.set_cover_upload { color: #999; font-size: 14px; margin-bottom: 6px; position: relative; }
.set_cover_upload a { color: #00a7e1; }
.set_cover_upload .gs_btn_v3 { color: #fff; position: absolute; top: 57px; left: 0; }
.set_cover_box .gs_btn_v3 { width: 70px; text-align: center; margin-left: 185px; }
.set_cover_box .gs_btn_v3.color_white { margin-left: 20px; }
.cover_pic { padding: 20px 0; width: 650px; background-color: #f2f2f2; margin: 0 -30px 30px; position: relative; z-index: 1; }
.cover_pic .cover_pic_l, .cover_pic .cover_pic_r { position: absolute; width: 21px; height: 38px; display: block; top: 30px; }
.cover_pic .cover_pic_l { background-position: -103px -360px; left: 45px; }
.cover_pic .cover_pic_l:hover { background-position: -151px -360px; }
.cover_pic .cover_pic_l.disable { background-position: -56px -360px !important; }
.cover_pic .cover_pic_r { background-position: -127px -360px; right: 45px; }
.cover_pic .cover_pic_r:hover { background-position: -175px -360px; }
.cover_pic .cover_pic_r.disable { background-position: -80px -360px !important; }
.cover_pic_cont { width: 480px; height: 60px; margin: 0 auto; overflow: hidden; position: relative; }
.cover_pic_cont ul { width: 10000px; position: absolute; top: 0; left: 0; height: 60px; background: url(/travels/img/cover_ul_bg.png) repeat-x; }
.cover_pic_cont ul li { float: left; width: 60px; height: 60px; margin-right: 10px; position: relative; cursor: pointer; }
.cover_pic_cont ul li img { width: 60px; height: 60px; }
.cover_pic_cont ul li div { position: absolute; top: 0; left: 0; width: 52px; height: 52px; border: 4px solid transparent; }
.cover_pic_cont ul li div.hover { border-color: #00a7e1; }
.cover_pic_cont ul li div.select { background-position: 7px -353px; }
.cover_show { width: 500px; height: 200px; margin: 0 auto; background: url(/travels/img/cover_show_bg.png); overflow: hidden; margin-bottom: 30px; position: relative; z-index: 1; }
.cover_show img { position: absolute; top: 0; left: 0; z-index: 1; width: 500px; }
.cover_show_mask { width: 500px; height: 200px; position: absolute; top: 0; left: 0; background-image: url(/travels/img/cover_show_mask.png); _background-image: url(/travels/img/cover_show_mask.gif); z-index: 2; cursor: move; }
.cover_show_mask p, .cover_show_mask div { position: absolute; left: 50%; top: 50%; width: 180px; height: 24px; margin: -12px 0 0 -90px; }
.cover_show_mask p { line-height: 24px; text-align: center; color: #999; z-index: 2; }
.cover_show_mask p.move { color: #fff; }
.cover_show_mask div { background-color: #000; filter: Alpha(Opacity=50); opacity: 0.5; z-index: 1; display: none; }
.upLoad_data { height: 32px; line-height: 32px; }
.upLoad_data img { vertical-align: middle; }
.upLoad_box { height: 36px; margin-top: 35px; padding-left: 115px; }
.set_cover_box, .upLoad_data img { display: none; }
/* 浮动层 */
.float_div { width: 100%; height: 50px; font-size: 14px; background-color: #fff; box-shadow: 0 1px 7px 1px #ccc; position: fixed; top: 0; left: 0; z-index: 100; display: none; }
.float_div .btn_index { background-position: -337px -245px; width: 50px; height: 50px; float: left; }
.float_div .ttd_title { height: 50px; width: 142px; padding: 0 14px; float: left; border-right: 1px dotted #ccc; line-height: 50px; }
.float_div .ttd_title .ttd_title_text { width: 100px; color: #333; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.float_div .ttd_title span { color: #999; margin-left: 2px; float: right; width: 40px; text-align: left; }
.float_div .item_div { width: 59px; height: 50px; float: right; border-left: 1px dotted #ccc; }
.float_div .progress_bar { line-height: 50px; height: 50px; position: relative; z-index: 1; width: auto; }
.float_div .progress_bar .ctd_title { display: inline-block; overflow: hidden; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; width: 98%; }
.float_div .progress_bar .text_pic { width: 14px; height: 14px; background-position: -280px -96px; margin: 0 10px 0 15px; cursor: pointer; }
.float_div .progress_bar .text_pic:hover { background-position: -280px -112px; }
.float_div .progress_bar .text_pic.clicked { background-position: -296px -96px; }
.float_div .progress_bar .text_pic.clicked:hover { background-position: -296px -112px; }
.float_div .progress_bar .progress_line { position: absolute; left: 0; bottom: 0; height: 6px; width: 100%; background-color: #b2b2b2; }
.float_div .progress_bar .progress_line p { width: 6px; height: 6px; border-radius: 50%; background-color: #fff; position: absolute; top: 0; z-index: 1; margin-left: -3px; }
.float_div .progress_bar .progress_line p i { display: block; width: 6px; height: 6px; padding: 4px; margin: -4px 0 0 -4px; cursor: pointer; }
.float_div .progress_bar .progress_line p span { display: block; width: 236px; height: 30px; line-height: 30px; background-color: #333; color: #fff; position: absolute; top: -38px; left: -115px; z-index: 2; text-align: center; border-radius: 3px; display: none; }
.float_div .progress_bar .progress_line p span em { display: block; position: absolute; bottom: -4px; left: 50%; margin-left: -4px; font-size: 0; height: 0; line-height: 0; width: 0; border-left: 4px solid transparent; border-top: 4px solid #333; border-right: 4px solid transparent; }
.float_div .progress_bar .progress_line .line { background-color: #fbc010; width: 0; font-size: 0; line-height: 0; height: 6px; }
.float_div .progress_bar .progress_line .point { background-position: -216px 0; width: 24px; height: 24px; position: absolute; top: -9px; cursor: pointer; z-index: 2; display: none; }
/* 删除评论弹层 */
.del_comment { width: 190px; height: 86px; background-color: #fff; border: 3px solid #ccc; border-radius: 3px; text-align: center; display: none; }
.del_comment p { font-size: 14px; margin: 20px 0 10px; }
.del_comment a { margin: 0 5px; }
/* 生成PDF弹出层 */
.generatPDF { width: 588px; height: 318px; color: #333; }
.generatPDF .generat_btn { width: 130px; height: 36px; display: inline-block; background: url(/travels/img/generat_pdf_bg.png) 0 0 no-repeat; color: #fff; font-size: 16px; text-align: center; line-height: 36px; text-decoration: none; }
.generatPDF .generat_btn:hover { background-position: 0 -37px; }
.generatPDF .generat_loading img { width: 96px; height: 96px; display: block; margin: 65px auto 35px; }
.generatPDF .generat_loading p, .generatPDF .generat_failure p { font-size: 18px; text-align: center; line-height: 30px; }
.generatPDF .generat_success { padding: 15px 19px 0; }
.generatPDF .generat_success h2 { font-size: 24px; padding: 10px 0 30px; border-bottom: 1px solid #cbcbcb; font-weight: 400; margin-bottom: 50px; }
.generatPDF .generat_success i { width: 108px; height: 153px; display: block; float: left; margin-right: 30px; background: url(/travels/img/pdf_mask.png) 0 0 no-repeat; }
.generatPDF .generat_success h4 { font-size: 18px; font-weight: 400; width: 410px; display: inline-block; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin: 2px 0 10px; }
.generatPDF .generat_success p { font-size: 14px; margin-bottom: 10px; float: left; width: 400px; }
.generatPDF .generat_success a { margin-top: 30px; }
.generatPDF .generat_failure div { width: 96px; height: 96px; display: block; margin: 65px auto 35px; background: url(/travels/img/generat_pdf_bg.png) top right no-repeat; }
.generatPDF .generat_failure a { display: block; margin: 40px auto 0; }
.pdf_tip { width: 258px; height: 136px; background-image: url(/travels/img/pdf_tip.png); position: absolute; z-index: 10; }
.pdf_tip a { width: 42px; height: 16px; display: block; position: absolute; right: 20px; bottom: 21px; }
/*20140509新增*/
.ctd_content p a.gs_a_poi{color:#0086B4; border-bottom: 1px dotted #0086B4;}
.ctd_content p a.gs_a_poi:hover{color:#00a7e1; border-bottom: 1px dotted #00a7e1;}
