/* online v1.0 style */

.lazy{ display: inline; }
  
.content .side {
    float: right;
}

.content .main {
    float: left;
}
 
.gray {
    color: #999;
}

h1 {
    font: 24px/34px "Microsoft YaHei",SimHei;
}

.f-contents {
    padding: 10px 0 30px;
}

.f-info {
    margin-left: 30px;
    background: #e2f4fe url(/img/events/bg-landlord.png) no-repeat top right;
    height: 55px;
    position: relative;
    padding-left: 50px;
}

.floors .f-info {
    background: #f5f5f5 url(/img/events/bg-landlord.png) no-repeat bottom right;
}

.f-img {
    position: absolute;
    left: -30px;
    top: -4px;
}

.f-img img {
    border-radius: 30px;
    border: 2px solid #fff;
}

.f-num {
    position: absolute;
    right: 30px;
    top: 11px;
    color: #bedaea;
}

.floors .f-num {
    color: #dedede;
    height:40px;

}

.f-num em {
    font-size: 40px;
    line-height:40px;
}

.f-num i {
    position: absolute;
    top: 0;
    right: -10px;
}

.f-name {
    padding: 10px 0 0 0;
}

.f-name span {
    color: #999;
}

.f-description span {
    color: #06c;
    cursor: pointer;
    margin-left: 10px;
}

.others-contents .f-main {
    padding: 20px 0 20px 80px;    
    font-size: 14px;
    line-height: 24px;
}
.f-main	
{
    word-break: break-all;  word-wrap: break-word;
    padding:20px 0;
    font-size: 14px;
}

.f-main	table td{ display:block;} /* 修正08年table异常 */

.f-main p {
    padding: 10px 20px 0 0;
    font-size: 14px;
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;    
}

.quote-name {
    border-left: 5px solid #dddddd;
    line-height: 18px;
    margin: 15px 0 0 0;
    padding-left: 5px;
    font-size: 14px;
}

.f-contents .quote-name:hover {
    cursor: pointer;
}
.repalyta{    background: url("/img/events/replay-icon.png") no-repeat scroll left center transparent;
    color: #0066CC;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 10px;    
    }
.report {
    cursor: pointer;
    color: #06c;
	padding-right: 10px;
}

.q-side {
    float: left;
    width: 60px;
}

.q-side img {
    border-radius: 30px;
}

.q-main {
    float: right;
    width: 600px;
}

.q-status {
    padding: 40px 0 0 0;
}

.q-status .fl .gsn-btn-14,.q-status .fl .sharebox,.q-status .fl .gsn-btn-13 {
    margin-right: 10px;
    float: left;
}

.supplementary {
    background: url(/img/qa/bg-qaitem.png) no-repeat 0 -60px;
    width: 68px;
    padding-left: 35px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
}

.reply {
    background: url(/img/events/bg-button.png) no-repeat 0 -163px;
    width: 42px;
    color: #fff;
    padding-left: 35px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
}

.reply:hover {
	text-decoration:none;
    background-position: 0 -194px;
}

.edit {
    background: url(/img/journal/btn-author.png) no-repeat top;
    width: 42px;
    padding-left: 35px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
	color:#333;
    line-height: 30px;
    margin-left: 10px;
}

.writing {
    background: url(/img/journal/btn-author.png) no-repeat bottom;
    width: 42px;
    padding-left: 35px;
    color: #fff;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
}
.edit:hover,.writing:hover{
	text-decoration:none;}
.others-contents {
    background: url(/img/qa/bg-answer.png) repeat-y 28px;
}

.answer-num {
    line-height: 30px;
    background: #e2f4fe;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 30px;
}

.answer .q-item {
    font-size: 12px;
    line-height: 22px;
}

.q-info .repalyta {
    color: #06c;
    cursor: pointer;
}

.q-info .report {
    padding-right: 0;
    cursor: pointer;
}

.related-answer .bd {
    padding-top: 0px;
}

.related-answer li {
    padding: 3px 0;
}

.related-answer li .num {
    color: #999;
}

.related-answer .all {
    padding-top: 10px;
}

.btn-note {
    font-size: 12px;
    font-family: SimSun;
    font-weight: normal;
    color: #06c;
    cursor: pointer;
}

.reply-textarea {
    width: 578px;
    margin-bottom: 15px;
    resize: none;
    color: #999;
    padding: 10px;
    font-family: SimSun;
	height: 140px;
}

.btn-setanswer {
    background: url(/img/events/bg-button.png);
    width: 70px;
    color: #fff;
    border-radius: 5px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.relateddes-item {
    color: #666;
    background: #f2f2f2;
}

.relateddes-item img {
    float: left;
    margin-right: 20px;
    display: inline;
    width: 120px;
    height: 120px;
}

.relateddes-item span {
    display: block;
}

.relateddes-item .title {
    padding-top: 15px;
    font: 20px/34px "Microsoft YaHei",SimHei;
}

.guide-list {
    overflow: hidden;
}

.guide-list ul {
    width: 300px;
}

.guide-list li {
    width: 80px;
    float: left;
    display: inline;
    margin-right: 13px;
}

.guide-list li span {
    display: block;
    color: #999;
}

.guide-list li span.pdf-img {
    position: relative;
    margin-bottom: 5px;
}

.guide-list li span.pdf-img strong {
    position: absolute;
    font: 20px/34px "Microsoft YaHei",SimHei;
    font-weight: bold;
    top: 0px;
    left: 0;
    width: 80px;
    text-align: center;
    color: #fff;
}

.guide-list li span.pdf-img i {
    position: absolute;
    font: 12px/34px "Microsoft YaHei",SimHei;
    top: 26px;
    left: 0;
    width: 80px;
    text-align: center;
    color: #fff;
}

.hotgroup .hd {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.hotgroup .hd .more {
    font-weight: normal;
    font-size: 12px;
    color: #458bb9;
    text-align: center;
    width: 45px;
    height: 27px;
    line-height: 27px;
    background: #fff url(/img/hp/btn-more.png) no-repeat right;
    position: absolute;
    right: 0;
    bottom: -1px;
    overflow: hidden;
}

.hotgroup li {
    line-height: 24px;
}
.hotgroup .span4 li
{
    float: left;
    overflow: hidden;
    width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
.hotgroup .span4 li a
{
    width: 90px;
    }

.ask .q-main {
    width: 580px;
}

.writejournal .btn-write-journals {
    float: left;
    background: url(/img/hp/index-button.png) no-repeat 0 -74px;
    width: 60px;
    padding-left: 45px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.writejournal {
    text-align: left;
}

.img-box {
    overflow: hidden;
    width: 660px;
    position: relative;
}

.img-top-frame {
    height: 30px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: none;
}

/* reload */
#journal-side-fixed {
    width: 270px;
}

.reply-textarea {
    border: 1px solid #bbb;
    padding: 0;
}

.gray .gsn_btn_report {
    padding-left: 10px;
}

.btn-note {
    margin-top: 7px;
}

.j-p {
    display: block;
    position: relative;
}


.gray .gsn_btn_report {
    float: right;
}

.f-main img.lazy{margin: 0;}
.f-main img{margin:0px;max-width: 600px;}

.f-main span.yj_dis { height: 20px;}

/* title tag icon */
.tit_tagico_1,
.tit_tagico_2,
.tit_tagico_3
{
    width:35px;
    height:20px;
    border-radius:10px;
    display:inline-block;
    color:#fff;
    background:#019725;
    font-size:12px;
    font-weight:normal;
    font-family:SimSun;
    text-align:center;
    margin-left:10px;
    padding-left:2px;
    line-height:20px;
    vertical-align:middle;
    }
.tit_tagico_2
{
    background:#f92c04}
.tit_tagico_3
{
    background:#006aaf}
/* like button */
.likebtn
{
    height:30px;
    display:inline-block;
    overflow:hidden;
    line-height:30px;
    font-size:14px;
    color:#333;
    cursor:pointer;
    padding-left:34px;
    background:url(/common/img/likebtn.png) no-repeat 0 -31px;}
.likebtn span
{
    height:30px;
    vertical-align:top;
    line-height:30px;
    display:inline-block;
    padding-right:17px;
    background:url(/common/img/likebtn.png) no-repeat right -31px;}
.likebtn em
{
    font-size:12px;
    color:#9a9a99;
    padding-left:5px;}
.likebtncur
{
    cursor:default;
     background:url(/common/img/likebtn.png) no-repeat 0 0;}
.likebtncur span
{
     background:url(/common/img/likebtn.png) no-repeat right 0;}
     
     
/* GS20-101 */
.hot_des{padding-bottom:20px;}
.hot_des h3{font-size:18px;font-weight:normal;line-height:20px;padding-bottom:7px;margin-bottom:10px;font-family:'Microsoft Yahei'; border-bottom:1px solid #ddd; position:relative;}
.hot_des li{padding-bottom:10px;width:270px;overflow:hidden;}
.hot_des li img{float:left;width:60px;height:60px;overflow:hidden;}
.hot_des li dl{width:200px;float:right;color:#999;}
.hot_des li dt{font-size:14px;width:200px;padding-bottom:8px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.hot_des li .g_link {color:#999;}
.hot_des a.gsn-btnmore{ position:absolute; bottom:5px;right:0;}


     
     
     
/*modify box by zj 20130801*/
/*top article*/
.top_article {
	width:100%;
	height:46px;
	overflow:hidden;
	position:fixed;
	z-index: 10;
	top:0;
	display:none;
	border-top:1px solid #ddd;
	background:#fff url(/img/hp/bg-gsheader.png) repeat-x 0 43px;
}
.top_article .top_inbox {
	width:980px;
	margin:0 auto;
}
.top_article .top_inbox ul { float:right; }
.top_article .top_inbox li {
	float:left;
	padding-left:10px;
	height:26px;
	padding-top:8px;
}
.top_article .top_inbox li a {
	width:35px;
	height:26px;
	overflow:hidden;
	display:inline-block;
	color:#fff;
	line-height:26px;
	padding-left:35px;
	background:url(/travels/img/journal_detbox.png) no-repeat;
}
.top_article .top_inbox li a:hover{
	text-decoration:none;}

.top_inbox li a.btn_collect { background-position:0 -149px;
}
.top_inbox li a.btn_like { background-position:-71px -149px
}
.top_inbox li a.btn_share { background-position:-142px -149px;
}
.top_inbox li a.btn_comment { background-position:-213px -149px;
}
.top_inbox li a.btn_edit { background-position:-142px -176px;
}
.top_inbox li a.btn_delete { background-position:-213px -176px;
}
.top_inbox li a.click_collect 
{
	color:#fff!important;
	background-position:0 -176px;
	width:43px;
	padding-left:27px;
}
.top_inbox li a.click_like 
{
    color:#fff!important;  
    background-position:-71px -176px;
	width:43px;
	padding-left:27px;
    
    }

/*journal title*/
.journaltitle{}
.linecolor{
	color:#ccc!important;
	padding:0 10px;}
.edit_line{
	padding-top:10px;
	border-bottom:1px solid #f0f0f0;
	padding-bottom:12px;
	margin-bottom:12px;}
.edit_line p{
	color:#999;
	float:left;
	}
.edit_line p span{
	color:#666;
	}
.edit_line a.graylink{
	color:#666;}
.edit_line a.graylink:hover{
	color:#06c;}
.edit_line ul.titleright {
	border-top:1px solid #fff}
.edit_line ul.titleright li{
	float:right;}
.edit_line ul.titleright li a,.imginnerbox a{
	color:#666;}
.edit_line ul.titleright li a.gsn_btn_report{
	color:#999;
	display:none;
	margin-right:30px;}
.edit_line ul.titleright li a.link_like_selected
	{
	    color: #333;
	    }
.edit_line ul.titleright li a:hover,.imginnerbox a:hover{
	color:#333;
	text-decoration:none;}
.deletejournal{
	margin-right:10px;
	}
.link_comment i,
.link_share i,
.link_like i,
.link_collect i,
.link_edit i,
.link_delete i{
	background:url(/travels/img/journal_detbox.png) no-repeat;
	cursor:pointer;
	width:16px;
	height:16px;
	margin-right:8px;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;}
.link_comment i{ background-position:-51px -19px}
.link_share i{ background-position:-34px -20px;}
.link_like i{ background-position:-18px -20px;}
.link_collect i{ background-position:0 -21px;}
.link_edit i{ background-position:-67px -39px;}
.link_delete i{ background-position:-99px -39px;}
.link_comment:hover i{ background-position:-51px -36px}
.link_share:hover i{ background-position:-34px -37px;}
.link_like:hover i,.click_like i, .link_like_selected i{ background-position:-18px -37px;} /* yi.z 喜锟斤拷锟斤拷锟斤拷状�?*/
.link_collect:hover i,.click_collect i{ background-position:0 -38px;}
.link_edit:hover i{ background-position:-148px -40px;}
.link_delete:hover i{ background-position:-115px -39px;}
.click_like,.click_collect{
	color:#333!important;
	cursor: text;
    }
/* popbox */
.piccomment{
	width:590px;
	}
.piccomment h3,.deljournal h3{
	color:#066b9f;
	font-size:16px;
	font-weight:normal;
	padding-bottom:12px;}
.piccomment .gsn-textarea{
	width:573px;
	font-size:14px;
	line-height:22px;
	height:200px;
	padding:8px 0 8px 15px;
	resize:none;}
.piccomment p,.deljournal p.btnbox{
	text-align:right;
	padding-top:10px;
	height: 25px;
	color:#999;}
.piccomment strong.count{
	font-size:14px;
	font-family:Tahoma;
	padding:0 5px;}
.piccomment .gsn-btn-2,.piccomment .gsn-btn-8,.deljournal .gsn-btn-2,.deljournal .gsn-btn-8{
	margin-left:10px;}
.piccomment .areabox{
	position:relative;}
.piccomment .areabox span.quotetext
{
    line-height:2em; 
	color:#999;
	font-size:14px;
	display:none;
	}
.deljournal,.savejournal{
	width:340px;}
.deljournal p.deltext{
	font-size:14px;
	padding:15px 0 40px 0}


/*modify-imgbox*/
.f-main p .modimgbox{
	display:inline-block;
	position:relative;
	text-align:right;
	font-size:12px;
	}
.modimgbox .imgtopframe{
	background:#fff;
	height:40px;
	position:absolute;
	top:0;
	display:none;
	border:1px solid #ccc;
	left:0;
	}
.imginnerbox{
	display:block;
	padding:8px 10px 0 0;
	height:30px;}
.journal-comment-tip,
.gsn-tiptext 
{
    color: #999999;
    display: inline;
    margin-left: 10px;
    vertical-align: top;
}	
.journal-comment-tip
{
    color: red;
    display: none;}
.q-content .journal-comment-tip,
.q-content .gsn-tiptext {
    line-height: 26px;
    float:right;
}
/*分享*/
.shareulbg {
    display: none;
    height: 129px;
    padding-top: 6px;
    position: absolute;
    width: 129px;
    z-index: 10;
    background: url("/common/img/normal-button.png") no-repeat scroll transparent;
    background-position: -451px 0;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.shareulbg li {
    float: left;
    width: 64px;
}
.shareulbg li a {
    color: #333333;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    padding-top: 40px;
}
.shareulbg li a:hover {
    color: #518FCE;
    text-decoration: none;
}

.sharebox{	position:relative;	z-index:1;}
.sharebox .shareulbg{position:absolute;	background-position:-451px 0;width:129px;height:129px;display:none;	left:0;	padding-top:6px;z-index:10;	top:30px;}


#journal-title .audit { color:#f00;}
.icon_app
{      vertical-align:text-top;}

/*新增版块*/
.relateddes-item-new ul { overflow:hidden;}
.relateddes-item-new ul li { width:270px; height:70px; overflow:hidden; margin-bottom:10px; background:#f2f2f2; }
.relateddes-item-new ul li .img {float:left;padding:10px 17px 10px 10px;}
.relateddes-item-new ul li .img img {width:50px;height:50px;}
.relateddes-item-new ul li h3{color:#0066cc;font:20px/34px "Microsoft YaHei",SimHei;margin:4px 0; }
.relateddes-item-new ul li span { color:#666;margin-right:24px;}
.relateddes-item-new .more_li { width:270px; height:20px; background:#f2f2f2; line-height:20px;text-align:center;color:#999; cursor:pointer; }
.relateddes-item-new .more_li span{border-left: 5px solid transparent;border-top: 5px solid #999;border-right: 5px solid transparent;font-size: 0;height: 0;line-height: 0;width: 0;margin-right:7px;}

 .journal_info .hd { border-bottom: 1px solid #ddd; line-height: 42px; overflow: hidden; }
  .journal_info .hd a { font-size: 12px; float: right; line-height: 12px; margin-top: 20px; *margin-top: 18px; }
  .journal_info .right-arrow { border-bottom: 4px solid transparent; border-left: 4px solid #06c; border-top: 4px solid transparent; display: inline-block; font-size: 0; height: 0; line-height: 0; margin: 0 5px; width: 0; }
.journal_piclist { width: 980px; overflow: hidden; padding-bottom: 30px; }
.journal_piclist ul { width: 1000px; overflow: hidden; }
.journal_piclist ul li { width: 313px; float: left; margin: 20px 20px 0 0; height: 66px; display: block; }
  .journal_piclist ul li .img { float: left; display: block; position: relative; margin-right: 10px; background: url(/common/img/nopic_10066.png) no-repeat; }
  .journal_piclist ul li .img img { width: 100px; height: 66px; border-radius: 3px; }
  .journal_piclist ul li .img span { position: absolute; left: 0; top: -2px; width: 36px; height: 33px; display: block; z-index: 2; background: url(/img/hp/index-ico.png) no-repeat; }
  .journal_piclist ul li .img .pic-tagico-1 { background-position: 0 -510px; }
  .journal_piclist ul li .img .pic-tagico-2 { background-position: 0 -564px; }
  .journal_piclist ul li .img .pic-tagico-3 { background-position: 0 -618px; }
  .journal_piclist ul li h3 { height: 50px; margin: -4px 0 5px; width:202px; overflow:hidden; float:left; }
  .journal_piclist ul li h3 a { font-weight: normal; color: #06c; line-height: 24px; font-size: 14px; }
  .journal_piclist ul li p, .journal_piclist ul li p a { color: #aaa; line-height: 12px; }

  .answer_info { width: 670px; float: left; }
  .answerlist { padding: 10px 0 35px; height:120px; }
  .answerlist ul li em { float: right; font-style: normal; color: #999; margin-top: 7px; }
  .answerlist ul li a { color: #06c; font-size: 14px; line-height: 30px; }
  .answerlist ul li span { color: #999; margin-left: 3px; }

  .strategy_info { width: 270px; float: right; }
  .strategy_info .hd a { font: bold 30px verdana; text-decoration: none; margin: 3px 0 0 2px; color: #999; }
  .strategy_info .hd a:hover { color: #41AFEA; }
  .strategy_info .hd a.cannot-click { color: #ddd; }
  .strategy_info .hd em { font-size:12px;color:#999; margin-left:5px;}
  .strategy { display: none; }
  .strategy .img { margin: 18px 16px 0 0; }
.strategy .hd { border: none; padding-top: 7px; width: 185px; float: right; }
  .strategy .hd a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 185px; font: 400 18px/36px "Microsoft YaHei",SimHei; color:#333; word-break:normal; word-wrap:normal; }
  .strategy .hd a:hover { color:#333; text-decoration:underline;}
  .strategy p { color: #999; line-height: 18px; }
  .strategy .gsn-btn-20 { margin-top: 10px; }
  
  /*2013-10-18*/
 .top_article .link-area
 {
     padding-top: 12px;}
  .top_article .link-area .big
  {
      color: #333;
      font-size: 20px;
      padding-right: 3px;
     }
.top_article .link-area .big:hover
{
    color: #0066cc;}
.top_article .link-area i
{
    color: #CCCCCC;
    font-size: 16px;
    padding: 0 10px;
    } 
 .top_article .link-area .small
 {
     padding: 0 5px;}
 .gs_activity
 {
     z-index: 5;}
     
     
 .gs_qrcode_old { width: 230px; height: 230px; position: relative; background: url(/common/img/qr_code230x230.png) 0 0 no-repeat; position:fixed; _position: absolute; margin-left: 1000px; top:180px; 
	animation:myfirst 1s ease-in 4s; 
	-moz-animation:myfirst 1s ease-in 4s; /* Firefox */
	-webkit-animation:myfirst 1s ease-in 4s; /* Safari and Chrome */
	-o-animation:myfirst 1s ease-in 4s; /* Opera */
}
.gs_qrcode_old a.one { width: 230px; height: 230px; display: block; }
.gs_qrcode_old a.close { width: 20px; height: 20px; position: absolute; top: 0; right: 0; display: block; color: #fff; font-size: 20px; text-decoration: none; line-height: 20px; text-align: center; }
.gs_qrcode_old a.close:hover { color: #ecb200; }
.gs_qrcode_old span { position: absolute; left: 115px; bottom: 40px; font-size: 20px; font-weight: bold; color: #ecb200; display: block; width: 115px; }

/*@media only screen and (max-width: 1240px){
	.gs_qrcode_old { width: 280px; height: 280px; background: url(/common/img/qr_code280x280.png) 0 0 no-repeat; }
	.gs_qrcode_old a.one { width: 280px; height: 280px; }
	.gs_qrcode_old span { left: 140px; bottom: 45px; font-size: 20px; width: 140px; }
}*/