@charset "utf-8";
/* CSS Document */
.t_step0 { padding-bottom:70px; }
.t_step0 h3 { font-size:20px; font-family:Microsoft Yahei; line-height:22px; padding-bottom:20px; font-weight:normal; }
.t_step0 .journalinfo { width:435px; height:255px; position:relative; border:2px solid #eaeaea; border-radius:18px; float:left; padding:55px 10px 0 30px; }
.t_step0 .mr20 { margin-right:20px; }
.t_step0 .journalinfo dt { font-size:20px; padding-bottom:10px; font-family:Microsoft Yahei; line-height:22px; }
.t_step0 .journalinfo dt span { background: #97BDD1; color: #fff; font-size: 12px; line-height: 12px; padding: 0 3px; margin-left: 8px; vertical-align: middle; }
.t_step0 .journalinfo dd { font-family:Microsoft Yahei; color:#999; padding-bottom:15px; line-height:28px; font-size:14px; }
.t_step0 .journalinfo i { width:170px; height:137px; overflow:hidden; display:inline-block; float:left; margin:10px 30px 0 0; background:url(/travels/img/step_0.png) no-repeat; }
.t_step0 .journalinfo i.wei { background-position:0 -138px; }
.t_step0 .journalinfo p { width:420px; float:left; border-top:1px dashed #ccc; margin-top:12px; padding-top:12px; }
.t_step0 .journalinfo p span { width:50px; height:22px; border-radius:11px; background:#6ebeea; display:inline-block; text-align:center; line-height:20px; margin-right:5px; color:#fff; font-size:14px; font-family:Microsoft Yahei; float: left; }
.t_step0 .journalinfo p a { width:360px; float: left; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px 0; }
.t_step0 .journalinfo span.tipsnew{ width:204px; height:30px; overflow:hidden; display:block; position:absolute; right:-5px; top:3px; }
.t_step0 .gsn-btn-1{ font-family:Simsun; font-size:14px; font-weight:bold; }